.number-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 16px;
  padding-bottom: 80px;
}

.no-results {
  text-align: center;
  font-size: 1.2rem;
  color: var(--text-gray);
  padding: 50px;
}
